# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env

# Jupyter
.ipynb_checkpoints/

# Modelos generados
*.pkl

# Base de datos local
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/